<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tereshkoff.passwordmanager"
          android:versionCode="8"
          android:versionName="1.0.7">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:configChanges="orientation|keyboard"
                android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-9w8m73yj04vho5l" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity" android:theme="@style/AppTheme"
                  android:configChanges="orientation|screenSize"/>

        <activity android:name=".login.SignupActivity" android:theme="@style/AppTheme" />

        // TODO: need a tabs fragment activities?
        <activity android:name=".activities.AddPasswordActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.AddGroupActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.PasswordActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.GroupPasswordsActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.PrefActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.SyncSettings" android:theme="@style/AppTheme" />
        <activity android:name=".activities.FirstLoginActivity" android:theme="@style/AppTheme" />

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
